/* Text Properties */
h1 {
    color: rgb(93, 123, 5);
    font-family: "farmhand-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

h2{
    color: rgb(93, 123, 5);
    font-family: "farmhand-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.green-text{
    color: rgba(0, 102, 0);
}

p{
    border: 1px solid hsla(180, 100%, 30%, 50%);
    font-family: "interstate", sans-serif;
    font-style: normal;
    font-weight: 300;
}

ul{
    list-style-type: none;
}

li{
    padding-bottom: 10px;
    font-family: "interstate", sans-serif;
    font-style: normal;
    font-weight: 300;
}

.center{
    text-align: center;
}

.list-item{
    font-size: 24px;
    padding: 10px;
    text-align: center;
    border: dotted 1px;
    margin: 10px;
    background-color: yellow;
}

/* Sizing */
#width-300 {
    width: 300px;
}

.profile{
    width: 300px;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
}

.width-500{
    width: 500px;
}

/* Add comments to made organizing easier */